/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* common classes */

.flex{
    display: flex;
}

.btn-small{
    padding: .3rem;
    border-radius: .4rem;
    margin: .2rem;
    text-decoration: none;
    font-size: .7rem;
}

.text-white{
    color: white;
}

.bg-gray{
    background-color: #4b4b4a;
}


/* header */
header{
    height: 5vh;
    background-color: black;
    flex-direction: row-reverse;
    align-items: center;
}

/* main */
#users-windows-wrapper{
    background-color: black;
    height: 85vh;
    padding: 2rem 5rem;
    flex-wrap: wrap;
    overflow: auto;
}

.user-window{
    width: calc((100vw - 11.4rem) / 7);
    height: calc((85vh - 6.5rem) / 5);
    margin: 0 .2rem .5rem 0;

    border: 1px solid white;
}
