/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

/* common classes */

.flex{
    display: flex;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.btn-small{
    padding: .3rem;
    border-radius: .4rem;
    margin: .2rem;
    text-decoration: none;
    font-size: .7rem;
}

.text-white{
    color: white;
}

.text-green{
    color: #4bc901;
}

.text-red{
    color: red;
}

.bg-gray{
    background-color: #4b4b4a;
}

/* header */
header{
    height: 5vh;
    background-color: black;
    flex-direction: row-reverse;
    align-items: center;
}

/* main */
#users-windows-wrapper{
    background-color: black;
    height: 87vh;
    padding: 2rem 0;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.user-window{
    width: 212px;
    height: 155px;
    margin: 0 .4rem 0.5rem 0;
}

.user-window img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name{
    bottom: 0;
    left: 0;
    color: white;
    font-size: .7rem;
    padding: .2rem;
    background-color: rgba(255, 255, 255, 0.1);
}

/* footer */

footer{
    height: 8vh;
    justify-content: space-between;
    background-color: rgba(0, 0, 0,0.9);
    min-width: 790px;
}

.controls{
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
}

.icon-name{
    margin-left: 0.7rem;
}

.controls p{
    font-size: .7rem;
    margin-top: 5px;
}

.shevron-up{
    font-size: .6rem;
    margin-left: 1rem;
}

.end-meeting{

    background-color: #4b4b4a; 
    width: 10vw;
}

.end-meeting span{
    margin: auto;
}